<form id ="loginForm" class="navbar-form navbar-right">
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
    <input class="form-control" type="text" id="email" placeholder="Email address">
  </div>
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
    <input class="form-control" id="pass" type="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-success">Sign in</button>
</form>
